.task-list{
    display: flex;
    justify-content: space-between;
}

.un-task-list {
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
}

.check {
    color: green;
}

.check:hover {
    color: rgb(3, 248, 3);
}

.fix {
    color: rgb(3, 3, 106);
}

.fix:hover {
    color: rgb(0, 0, 255);
}

.del {
    color: rgb(111, 2, 2);
}

.del:hover {
    color: rgb(237, 45, 45);
}